<div class="row">
	<div class="col-3 text-left">
		<br />
		<a asp-area="" asp-controller="Administrator" asp-action="Orders">Заказы</a>
		<br />
		<a asp-area="" asp-controller="Administrator" asp-action="Users">Пользователи</a>
		<br />
		<a asp-area="" asp-controller="Administrator" asp-action="Roles">Роли</a>
		<br />
		<a asp-area="" asp-controller="Administrator" asp-action="Products">Продукты</a>

	</div>
	<div class="col-9 text-center">

		<h4>Список Продуктов</h4>
	</div>
</div>
