<div class="row">
	<div class="col-3 text-left">
		<br />
		<a  asp-area="" asp-controller="Administrator" asp-action="Orders">Список Заказов</a>
		<br />
		<a asp-area="" asp-controller="Administrator" asp-action="Users">Список Пользователей</a>
		<br />
		<a  asp-area="" asp-controller="Administrator" asp-action="Roles">Список Ролей</a>
		<br />
		<a asp-area="" asp-controller="Administrator" asp-action="Products">Список Продуктов</a>

	</div>
	<div class="col-9 text-center">

		<h4>Список Продуктов</h4>
	</div>
</div>
