@model Register

<form method="post" asp-controller="Authentification" asp-action="AddNewUser">
    <h4>Регистрация</h4>
    <br />

    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

    <div class="row">
        <div class="col-6">
            <label asp-for="UserName">email</label><br />
            <input type="email" asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
    </div>


    @*<div class="row mb-3">
        <label for="login" class="col-sm-1 col-form-label">Логин</label>
        <div class="col-sm-3">
            <input name="Login" type="email" class="form-control" id="login" placeholder="Email" required>
        </div>
    </div>*@

    <div class="row">
        <div class="col-6">
            <label asp-for="Password">Пароль</label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>

    @*<div class="row mb-3">
        <label for="password" class="col-sm-1 col-form-label">Пароль</label>
        <div class="col-sm-3">
            <input name="Password" type="password" class="form-control" id="password" placeholder="*********" required minlength="3" maxlength="20" />
        </div>
    </div>*@

    <div class="row">
        <div class="col-6">
            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input type="password" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    

    @*<div class="row mb-3">
        <label for="password" class="col-sm-1 col-form-label">Повторите пароль</label>
        <div class="col-sm-3">
            <input name="RepeatPassword" type="password" minLength="3" maxlength="20" class="form-control" id="password" placeholder="*********" required>
        </div>
    </div>*@



    <button type="submit" class="btn btn-outline-primary" asp-controller="Authentification" asp-action="AddNewUser">Зарегистрироваться</button>
</form>

@*@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}*@ @*Для валидации на стороне клиента (Теперь закоменченныйЮ потому что подключены через частичное представление)*@